In [1]:
import pandas as pd 

full_data_info = pd.read_csv('111.csv',encoding ='utf-8')

In [2]:
import numpy as np
def find_outliers_3sigma(data):  
    
    if len(data)==1 or len(set(data))==1:
        one_hot_num = float(data.head(1))
        if one_hot_num<=100:
            thr_sig_num =  one_hot_num*2.5
        elif 100<one_hot_num<=500:
            thr_sig_num = one_hot_num*2
        elif 500<one_hot_num<=2000:
            thr_sig_num = one_hot_num*1.8
        else:
            thr_sig_num = one_hot_num*1.5
    else:
        thr_sig_num  = np.nan 
    if thr_sig_num<20:
        thr_sig_num = 20

    return thr_sig_num



thr_sigma_info_lower_two = full_data_info.groupby(['PARTNAME' ,'LOCNAME' ,'DEMANDSTREAMID'])['HISTORYAMOUNT'].apply(find_outliers_3sigma).reset_index()
# thr_sigma_info.sort_values(by=['HISTORYAMOUNT'])
thr_sigma_info_lower_two

          PARTNAME              LOCNAME  DEMANDSTREAMID  HISTORYAMOUNT
0          轴承及安装零件        2075-廊坊库-[13]               2           20.0
1            N11A3        2075-廊坊库-[13]               2           20.0
2               像机        2075-廊坊库-[13]               2           20.0
3            变速器支承        2075-廊坊库-[13]               2           20.0
4             型密封圈  1000-3-日配送虚拟CPD-[4]               2           20.0
...            ...                  ...             ...            ...
1747  黑钻机油(嘉实多,4L)        2075-廊坊库-[13]               2            NaN
1748      黑钻机油（4L）        2075-廊坊库-[13]               2           20.0
1749           鼓风机        2075-廊坊库-[13]               2           20.0
1750        鼓风机调节器        2075-廊坊库-[13]               2           20.0
1751          齿形皮带        2075-廊坊库-[13]               2            NaN

[1752 rows x 4 columns]

In [3]:
import numpy as np
def find_outliers_3sigma(data):  
    
    if len(data)==1 or len(set(data))==1:
        thr_sig_num = np.nan
    else:
        mean = sum(data) / len(data)  
        std_dev = (sum((x - mean) ** 2 for x in data) / len(data)) ** 0.5  
        thr_sig_num  = mean + 3 * std_dev 
        
    if thr_sig_num<20:
        thr_sig_num = 20

    return thr_sig_num



thr_sigma_info_3sigma = full_data_info.groupby(['PARTNAME' ,'LOCNAME' ,'DEMANDSTREAMID'])['HISTORYAMOUNT'].apply(find_outliers_3sigma).reset_index()
# thr_sigma_info.sort_values(by=['HISTORYAMOUNT'])
thr_sigma_info_3sigma

          PARTNAME              LOCNAME  DEMANDSTREAMID  HISTORYAMOUNT
0          轴承及安装零件        2075-廊坊库-[13]               2            NaN
1            N11A3        2075-廊坊库-[13]               2            NaN
2               像机        2075-廊坊库-[13]               2            NaN
3            变速器支承        2075-廊坊库-[13]               2            NaN
4             型密封圈  1000-3-日配送虚拟CPD-[4]               2            NaN
...            ...                  ...             ...            ...
1747  黑钻机油(嘉实多,4L)        2075-廊坊库-[13]               2      37.649503
1748      黑钻机油（4L）        2075-廊坊库-[13]               2            NaN
1749           鼓风机        2075-廊坊库-[13]               2            NaN
1750        鼓风机调节器        2075-廊坊库-[13]               2            NaN
1751          齿形皮带        2075-廊坊库-[13]               2      20.000000

[1752 rows x 4 columns]

In [4]:
import numpy as np
def find_outliers_3sigma(x):  
    
    if len(x)==1 or len(set(x))==1:
        thr_sig_num = np.nan
    else:
        q3 = lambda x: x.quantile(0.75)  
        q1 = lambda x: x.quantile(0.25)  
        thr_sig_num = q3(x) + 1.5 * (q3(x) - q1(x))  
    if thr_sig_num<20:
        thr_sig_num = 20

    return thr_sig_num



thr_sigma_info_xiangxingtu  = full_data_info.groupby(['PARTNAME' ,'LOCNAME' ,'DEMANDSTREAMID'])['HISTORYAMOUNT'].apply(find_outliers_3sigma).reset_index()
# thr_sigma_info.sort_values(by=['HISTORYAMOUNT'])
thr_sigma_info_xiangxingtu

          PARTNAME              LOCNAME  DEMANDSTREAMID  HISTORYAMOUNT
0          轴承及安装零件        2075-廊坊库-[13]               2            NaN
1            N11A3        2075-廊坊库-[13]               2            NaN
2               像机        2075-廊坊库-[13]               2            NaN
3            变速器支承        2075-廊坊库-[13]               2            NaN
4             型密封圈  1000-3-日配送虚拟CPD-[4]               2            NaN
...            ...                  ...             ...            ...
1747  黑钻机油(嘉实多,4L)        2075-廊坊库-[13]               2          23.25
1748      黑钻机油（4L）        2075-廊坊库-[13]               2            NaN
1749           鼓风机        2075-廊坊库-[13]               2            NaN
1750        鼓风机调节器        2075-廊坊库-[13]               2            NaN
1751          齿形皮带        2075-廊坊库-[13]               2          20.00

[1752 rows x 4 columns]

In [5]:
raw_data_info = full_data_info[['PARTNAME' ,'LOCNAME' ,'DEMANDSTREAMID','HISTORYBEGDATE','HISTORYAMOUNT']]
raw_data_info.head()

,PARTNAME,LOCNAME,DEMANDSTREAMID,HISTORYBEGDATE,HISTORYAMOUNT
0,柯达配件销量增长包22111,2075-廊坊库-[13],2,2023-09-01 07:12:47,2
1,机油滤清器,2075-廊坊库-[13],2,2023-04-03 11:30:05,50
2,锁架,2075-廊坊库-[13],2,2023-08-01 09:02:47,1
3,珠光细蓝,1000-1-上海CPD-[2],2,2023-09-01 08:31:30,1
4,锁闭件,2075-廊坊库-[13],2,2023-02-01 09:20:19,1

In [13]:
# 将它们放入一个列表中  
# df_list = [raw_data_info, thr_sigma_info_lower_two,thr_sigma_info_3sigma,thr_sigma_info_xiangxingtu]  
  
# 使用functools.reduce和pandas.concat来合并所有DataFrame  
merged_df_lower_two = pd.merge(raw_data_info, thr_sigma_info_lower_two,
                              on=['PARTNAME' ,'LOCNAME' ,'DEMANDSTREAMID'],how ='left')

In [14]:
merged_df_sigma = pd.merge(merged_df_lower_two, thr_sigma_info_3sigma,
                              on=['PARTNAME' ,'LOCNAME' ,'DEMANDSTREAMID'],how ='left')
merged_df_xiangxingtu = pd.merge(merged_df_sigma, thr_sigma_info_xiangxingtu,
                              on=['PARTNAME' ,'LOCNAME' ,'DEMANDSTREAMID'],how ='left')
merged_df_xiangxingtu.head()

/var/folders/tq/ty6dg6810571sz60cwyxn8ch0000gn/T/ipykernel_87397/1183461528.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'HISTORYAMOUNT_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df_xiangxingtu = pd.merge(merged_df_sigma, thr_sigma_info_xiangxingtu,

,PARTNAME,LOCNAME,DEMANDSTREAMID,HISTORYBEGDATE,HISTORYAMOUNT_x,HISTORYAMOUNT_y,HISTORYAMOUNT_x,HISTORYAMOUNT_y
0,柯达配件销量增长包22111,2075-廊坊库-[13],2,2023-09-01 07:12:47,2,20.0,NaN,NaN
1,机油滤清器,2075-廊坊库-[13],2,2023-04-03 11:30:05,50,NaN,146.496584,160.0
2,锁架,2075-廊坊库-[13],2,2023-08-01 09:02:47,1,NaN,20.000000,20.0
3,珠光细蓝,1000-1-上海CPD-[2],2,2023-09-01 08:31:30,1,20.0,NaN,NaN
4,锁闭件,2075-廊坊库-[13],2,2023-02-01 09:20:19,1,20.0,NaN,NaN

In [16]:
merged_df_xiangxingtu.columns = ['PARTNAME' ,'LOCNAME' ,'DEMANDSTREAMID',
                                 'HISTORYBEGDATE','HISTORYAMOUNT','历史记录小于1次阈值','3_sigma阈值','箱型图阈值']

merged_df_xiangxingtu.sort_values(by=['PARTNAME' ,'LOCNAME' ,'DEMANDSTREAMID',
                                 'HISTORYBEGDATE'],inplace =True)

In [30]:
merged_df_xiangxingtu.columns

Index(['PARTNAME', 'LOCNAME', 'DEMANDSTREAMID', 'HISTORYBEGDATE',
       'HISTORYAMOUNT', '历史记录小于1次阈值', '3_sigma阈值', '箱型图阈值'],
      dtype='object')

In [35]:
merged_df_xiangxingtu.dropna(subset='PARTNAME',inplace =True)

In [46]:
merged_df_xiangxingtu['历史记录小于1次拦截情况'] = np.where(merged_df_xiangxingtu['HISTORYAMOUNT']
                                                 < merged_df_xiangxingtu['历史记录小于1次阈值'], 1, 0)  
merged_df_xiangxingtu['3_sigma阈值拦截情况'] = np.where(merged_df_xiangxingtu['HISTORYAMOUNT']
                                                 < merged_df_xiangxingtu['3_sigma阈值'], 1, 0) 
merged_df_xiangxingtu['箱型图阈值拦截情况'] = np.where(merged_df_xiangxingtu['HISTORYAMOUNT']
                                                 < merged_df_xiangxingtu['箱型图阈值'], 1, 0)

array([1, 0])

In [52]:
merged_df_xiangxingtu.to_excel('异常订单拦截逻辑.xlsx')